.aboutus-section {
    padding: 90px 0;
}
.aboutus-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #E52B50;
}
.aboutus-title::after {
    background: #008B8B none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}


a:hover, a:active {
    color: #177245;
    text-decoration: none;
    outline: 0;
}
.aboutus-more {
    border: 1px solid #FFBF00;
    border-radius: 25px;
    color: #8DB600;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0;
    padding: 7px 20px;
    text-transform: uppercase;
}
